<h1>Welcome <%= current_coordinator.email %></h1>
<h2>You are the Coordinator of these clubs</h2>
<% @current_coordinator.clubs.each do |club| if @current_coordinator.clubs.any? %>
<!-- .clubs returns collection of clubs associated with the current coordinator if any association exists. From, coordinators#dashboard -->
 <%= club.name %><br>
 <%= club.description %><hr>
 <% end %>
<% end %>
<h3>Recent Events...</h3>
 <% @current_coordinator.events.each do |event| if @current_coordinator.events.any? %>
 <!-- Showing any events, if present. From, coordinators#dashboard -->
    <%= event.title %><br>
    <%= event.description %><br>
    <%= link_to image_tag(event.image.first.variant(resize: '300x300').processed), event_path(event) if event.image.attached? %><br> <!-- Looping through the images if it is present and also resizing them. find in event.rb model file -->
    <%= link_to 'Destroy', event_path(event), method: :delete, data: {confirm: "Are you sure?"} %><br>
    <% end %><br>
 <% end %><br>
<%= link_to 'New event', new_event_path %><br>
<!-- <%= link_to 'Student Registration', new_registration_path %> -->   <!-- Link for new student registartion, contoller: registrations_controller.rb | model: Registration.rb -->
