<!-- <h1>Welcome <%= current_coordinator.email %></h1><%= image_tag current_coordinator.profile.avatar.variant(resize: '100x100'), class: "ui medium circular image" if current_coordinator.profile %> -->

<!-- Code for Clubs associated to coordinator -->

<% cache do %>             <!-- Enabled Page caching -->

<% @current_coordinator.clubs.each do |club| if @current_coordinator.clubs.any? %>
<!-- .clubs returns collection of clubs associated with the current coordinator if any association exists. From, coordinators#dashboard -->
 <%= club.name %><br>
 <%= club.description %><hr>
 <% end %>
<% end %>


    <div class="ui container">
        <div>
            <%= link_to 'New event', new_event_path, class: 'ui positive button' %>
            <%= link_to "View Registrations", registrations_path, class: 'ui default button' %>
        </div>
    </div><br>

<div class="ui container" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
      <% @current_coordinator.events.each do |event| if @current_coordinator.events.any? %>
              <!-- Showing any events, if present. From, coordinators#dashboard -->
          <div class="ui card" id="cards" style="margin: 20px;">
            <div class="image" >
                <%= link_to image_tag(event.image.first.variant(resize: '290x300').processed), event_path(event) if event.image.attached? %> <!-- Looping through the images if it is present and also resizing them. find in event.rb model file -->
            </div>
            <div class="content">
              <a class="header"><%= event.title %></a>
              <div class="meta">
                <span class="date"><%= time_ago_in_words(event.created_at) %> ago</span>
              </div>
              <div class="description">
                <%= truncate(event.description, length: 35) %>
              </div>
            </div>
            <div class="extra content" id="destroy_link_on_card">
                <%= link_to 'Destroy', event_path(event), method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
          </div>
          <% end %>
         <% end %>
</div>

<% end %>
