<center><div id="form_content" style="width: 800px">            <!-- Devise Error Messages display -->
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
        </div></center>
<br>
<br>
<div class="ui container" style="width: 500px">
  <h2>Forgot your password?</h2>

        <div class="ui form">                                 <!-- Semantic ui syntax -->
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "ui default button" %>
          </div>
        </div>
  <% end %><br>

  <%= render "devise/shared/links" %>

</div>
