<div class="ui container" style="margin-top: 50px;">
  <% if @registrations.any? %>
        <table>
          <tr style="font-size: 18px; font-weight: bold;">
            <td>Name</td>
            <td>email</td>
            <td>USN</td>
            <td>Section</td>
          </tr>
          <% @registrations.each do |reg| %>
           <tr>
             <td><%= reg.name %></td>
             <td><%= reg.email %></td>
             <td><%= reg.usn %></td>
             <td><%= reg.section %></td>
           </tr>
          <% end %>
        </table><br><br>
        <%= link_to "Get PDF", registrations_path + '.pdf', format: 'pdf', class: 'ui blue button' %>   <!-- Link to get pdf -->
    <% else %>
           <h1>No Registrations yet!!</h1>
  <% end %><br><br>

  <%= link_to 'Back', root_path %>

</div>
