<div class="ui fluid container" id="landing_page_image">
  <div>
    <%= link_to "New Registration", new_registration_path %>
    <%= link_to 'Coordinators Login', new_coordinator_session_path, class: 'large right floated positive ui button', style:'margin: 40px' %>
  </div>
  <div class="center_text" >
    <h1>Lorem Ipsum</h1>
  </div>

</div>
<div class="ui container"  >
  <% @events.each do |event| if @events.present? %>            <!-- @events from home#index route -->
    <b><%= event.title %></b><br>
    <%= event.description %><br>
    <%= image_tag event.image.first.variant(resize: '300x300') %><br>           <!-- Showing first image of associated event -->
    Submitted by: <%= event.coordinator.email %> | <%= image_tag event.coordinator.profile.avatar.variant(resize: '50x50') %><br>
    <%= link_to 'Show', event_path(event) %><br>
   <% end %><br>                                  <!-- 'end' for if-block  -->
  <% end %>
</div>
