<% cache do %>                                                   <!-- Russian doll caching -->

<header>
  <div id="landing_page" >
      <div>
        <%= link_to 'Coordinators Login', new_coordinator_session_path, class: 'large right floated positive ui button', style:'margin: 40px' %>
      </div>
      <div class="center_text" >
        <h1>Lorem Ipsum</h1>
        <%= link_to "New Registration", new_registration_path %>
      </div>
  </div>
</header>

 <!-- Displaying Cards -->

<div class="ui fluid container" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; width: 100%; margin: 0" >
    <% @events.each do |event| if @events.present? %>            <!-- @events from home#index route -->
    <div class="ui card" style="margin: 30px; max-width: 250px; max-height: 500px; min-width: 250px; min-height: 330px;">
      <div class="image" style="align-self: center;" >
      <%= image_tag event.image.first.variant(resize: '250x250>') if event.image.attached? %>    <!-- Showing first image of associated event -->
      </div>
        <div class="content">
         <a class="header"><%= truncate(event.title, length: 27) %></a>
          <div class="meta">
          <br>
          <div><%= link_to 'Show', event_path(event), class: 'ui fluid basic green button' %></div>
        </div><br>
          <div class="extra content">
            <%= event.coordinator.email %> <div class='ui avatar image'><%= image_tag event.coordinator.profile.avatar.variant(resize: '50x50') if event.coordinator.profile %></div>
          </div>
        </div>
    </div>
    <% end %>                                <!-- 'end' for if-block  -->
    <% end %>

</div>

<% end %>        <!-- Caching end block -->
