<div class="ui container" id="landing_page_image">
  <div>
    <%= link_to 'Coordinators Login', new_coordinator_session_path, class: 'large right floated positive ui button', style:'margin: 40px' %>
  </div>
  <div class="center_text" >
    <h1>Lorem Ipsum</h1>
    <%= link_to "New Registration", new_registration_path %>
  </div>
</div>

 <!-- Displaying Cards -->

<div class="ui container" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; width: 100%;" >
    <% @events.each do |event| if @events.present? %>            <!-- @events from home#index route -->
    <div class="ui card" style="margin: 30px; max-width: 250px; max-height: 550px;">
      <div class="image" style="align-self: center;" >
      <%= image_tag event.image.first.variant(resize: '250x250') %>    <!-- Showing first image of associated event -->
      </div>
        <div class="content">
         <a class="header"><%= event.title %></a>
          <div class="meta">
          <span class="date">By: <%= event.coordinator.email %> <div class='ui avatar image'><%= image_tag event.coordinator.profile.avatar.variant(resize: '50x50') if event.coordinator.profile %></span></div>
            <div class="description">
            <%= truncate(event.description, length: 30) %>
            </div>
          </div>
          <div class="extra content">
            <br/>
            <a><%= link_to 'Show', event_path(event), class: ' user icon ui basic green button' %></a>
          </div>
        </div>
    </div>
    <% end %>                                <!-- 'end' for if-block  -->
    <% end %>

</div>
