  <div id="landing_page" style='margin-top:-20px;'>
    <div style="position: absolute; z-index: 2; width: 100%;">
      <div id="home_links" style="display:flex; justify-content:center; margin-right: 25px;">
        <%= link_to "Registrations", new_registration_path, class: 'ui purple button custom' %>  <!-- new_registration_path -->
        <%= link_to 'Login', new_coordinator_session_path, class: 'ui purple button custom' %>
      </div>
      <div class="head1" style='resize:both;'>
        <h1 id="event_header" style="color:w#fd1d1d; text-align:center; margin-top: 100px; font-family: 'Pacifico', cursive; font-weight: 900;">Event Management Site</h1>
      </div>
    </div>

  </div>

 <!-- Displaying Cards -->

<div class="ui fluid container" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; width: 100%; margin: 0" >
    <% @events.each do |event| if @events.present? %>            <!-- @events from home#index route -->
    <div class="ui card" style="margin: 30px; max-width: 250px; max-height: 500px; min-width: 250px; min-height: 330px;">
      <div class="image" style="align-self: center;" >
      <%= image_tag event.image.first.variant(resize: '250x250>') if event.image.attached? %>    <!-- Showing first image of associated event -->
      </div>
        <div class="content">
         <a class="header"><%= truncate(event.title, length: 24) %></a>
          <div class="meta">
          <br>
          <div><%= link_to 'Show', event_path(event), class: 'ui fluid basic green button' %></div>
        </div><br>
          <div class="extra content">
            <%= event.coordinator.email %> <div class='ui avatar image'><%= image_tag event.coordinator.profile.avatar.variant(resize: '50x50') if event.coordinator.profile %></div>
          </div>
        </div>
    </div>
    <% end %>                                <!-- 'end' for if-block  -->
    <% end %>

</div>
