<% cache do %>                                        <!-- Enabled Page caching -->

<body style="background-color: #FFF5E5">
  <center><div class="ui container" style="background-color: white; margin-top: 50px; width:60%; border-radius: 15px;">
    <div class="ui container">

      <div class="ui image" style="padding:20px; align-items: center; border: 1px solid orange; border-style: dashed; margin-top: 20px;">
          <% @event.image.each do |image|%>
              <%= link_to image_tag(image.variant(resize: '300x300')), image %><br>                        <!-- Looping through the images, find in event.rb model file -->
          <% end %>
      </div>

  </div><br>

      <div class="content">
        <h2><%= @event.title %></h2>
        <h3><%= @event.description %></h3>
        <p>by: <%= @event.coordinator.email %> <%= image_tag @event.coordinator.profile.avatar.variant(resize: '100x100'), class: 'ui avatar image' if @event.coordinator.profile %></p>
        <br>
        <%= link_to "Home", root_path , class: "ui orange basic button"%>
      </div><br>

  </div></center>
</body>

<% end %>
