<body id="sign_in_body">
  <div class="ui segment container" style="width:40%; margin-top: 40px; border: 1px solid #ddd; padding: 20px; border-radius: 20px; background-color: white;">
    <center><h2><i class="edit outline icon"></i>Choose Profile Picture</h2></center><br>
    <div id="error messages">                                               <!-- Displaying error messages!! -->
      <% if @profile.errors.any? %>
       <% @profile.errors.full_messages do |msg| %>
         <ul>
           <li><%= msg %></li>
         </ul>
        <% end %>
      <% end %>
    </div>
      <div id="images" align='center'>
        <%= link_to image_tag(@current_profile.avatar.variant(resize: '200x200')), @current_profile.avatar if @current_profile %><br>   <!-- Now Fetching current loggedin coordinator and displaying his profile picture if he has created/edited one before -->
        <%= image_tag 'default_image.png', size: '200x200', alt: "Profile Image Not available" if !@current_profile %><br>   <!-- Setting a default image (in assets/images/) -->
      </div>
      <br>
      <div class="ui form">
        <%= form_for :profile do |f| %>
         <%= f.file_field :avatar, accept: 'image/*' %><br><br>    <!-- validation of only all image types -->
         <center><%= link_to "Edit email & Password",  edit_coordinator_registration_path, class: 'ui orange basic button' %></center><br>
         <center><%= f.submit class:'ui positive button'%></center>
        <% end %><br>
      </div>
  </div>
</body>
