<!DOCTYPE html>
<html>
  <head>
    <title>Milestone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  </head>

  <body>
    <div class="ui container" style="width: 100%;">
      <% if coordinator_signed_in? %>
        <div style="float: right; margin-right: 20px; margin-top: 10px;">
          <%= link_to "Profile", profile_index_path, class: "ui button" %>
          <%= link_to "Logout", destroy_coordinator_session_path, method: :delete, data: {confirm: "Are you sure?"}, class: 'ui red button' %>
        </div>
      <% end %>
    </div>

   <!-- Displaying Flash messages -->
   <div class="ui container" id="error_messages_display" style="position: absolute; width: 100%; height: auto; text-align: center; z-index: 2">
     <% if flash[:notice] %>
       <div class="ui success message"><span class="close">x</span><%= flash[:notice] %></div>
     <% elsif flash[:error] %>
        <div class="ui red message"><span class="close">x</span><%= flash[:error] %></div>
     <% elsif flash[:alert] %>
     <div class="ui negative message"><span class="close">x</span><%= flash[:alert] %></div>
     <% end %>
   </div>

    <%= yield %>
  </body>
</html>
